NAVER_SEARCH_CENTER_X=127.1881769
NAVER_SEARCH_CENTER_Y=37.228365
NAVER_COOKIE=

PCMAP_SEARCH_DISPLAY=20
PCMAP_SEARCH_MAX_PAGES=3
PCMAP_REQUEST_DELAY_MS=1200
PCMAP_RETRY_COUNT=4
PCMAP_RETRY_DELAY_MS=3000
PCMAP_SAVE_SEARCH_DEBUG=false
PCMAP_SAVE_DETAIL_DEBUG=false

SEED_ADMIN_AREAS=
SEED_SEARCH_KEYWORDS=
SEED_OUTPUT_PREFIX=
